<mat-card class="mat-elevation-z0 outline">
  <mat-card-title>Register Form</mat-card-title>
  <mat-card-content>
    <form class="home-form" (ngSubmit)="submitForm()" [formGroup]="registerForm" novalidate>

      <mat-form-field class="example-full-width">
        <input formControlName="firstName" matInput placeholder="First Name" required type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input formControlName="lastName" matInput placeholder="Last Name" required type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input formControlName="username" matInput placeholder="Username" required type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input formControlName="password" matInput placeholder="Password" required type="password">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input formControlName="repeatPassword" matInput placeholder="Repeat Password" required type="password">
      </mat-form-field>

      <mat-error *ngIf="registerForm.controls['username'].errors?.usernameExists">
        This username already exists.
      </mat-error>

      <mat-error *ngIf="registerForm.hasError('passwordsDoNotMatch')">
        The passwords do not match.
      </mat-error>

      <div class="button-wrapper">
        <button [disabled]="registerForm.invalid" color="primary" mat-flat-button>Register</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z0 outline last-element">If you already have an account, you can login
  <a href="login"> here.</a>
</mat-card>
