<mat-card class="mat-elevation-z0 outline">
  <mat-card-title>User List</mat-card-title>
  <mat-card-content>

    <form [formGroup]="searchForm" novalidate>
      <mat-form-field class="example-full-width">
        <input formControlName="search" matInput placeholder="Filter Users..." type="text">
      </mat-form-field>
    </form>

    <mat-table [dataSource]="users" matSort matSortActive="username" matSortDirection="desc"
               matSortStart="desc" matSortDisableClear class="mat-elevation-z8">

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let user">{{user.firstName}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let user">{{user.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let user">{{user.username}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <mat-paginator (page)="changePage()" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="10"
                   [showFirstLastButtons]="true"></mat-paginator>

  </mat-card-content>
</mat-card>


