<mat-card class="mat-elevation-z0 outline">
  <mat-card-title>Login Form</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="submitForm()" [formGroup]="loginForm" novalidate>

      <mat-form-field class="example-full-width">
        <input formControlName="username" matInput placeholder="Username" required type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input formControlName="password" matInput placeholder="Password" required type="password">
      </mat-form-field>

      <div class="button-wrapper">
        <button [disabled]="loginForm.invalid" color="primary" mat-flat-button>Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<br/>

<mat-card class="mat-elevation-z0 outline">If you don't have an account, you can register
  <a href="register"> here.</a>
</mat-card>
